.flight-booking{
    background-image: url('https://i.ibb.co/nRZBBFL/travel-pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.flight-h{
    text-transform:uppercase;
    font-size:50px;
    font-family:'Verdana';
    padding:10px;
  }
.wrapper {
    max-width: 800px;
    margin: 50px auto
}
.wrapper form a {
    color: #333
}
.wrapper form .form-group {
    padding-bottom: .9rem
}
.wrapper form {
    padding: 40px 50px
}